.framework-list {
    margin-top: 20px;
}
.framework-list::after {
    clear: both;
}

.framework-list li {
    list-style-type: none;
    margin-bottom: 25px;
}

.framework-list li img {
    float: left;
}

.framework-list li .framework {
    text-align: left;
    margin-left: 50px;
}

.marketing h2 {
    font-weight: bold;
}

.marketing .framework-category .marketing-byline {
    font-size: 16px;
    font-style: italic;
}