<?xml version="1.0"?>
<ripple xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>FubuWorld</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>rake</BuildCommand>
  <FastBuildCommand>rake compile</FastBuildCommand>
  <DefaultFloatConstraint>Current</DefaultFloatConstraint>
  <DefaultFixedConstraint>Current,NextMajor</DefaultFixedConstraint>
  <Feeds>
    <Feed Url="http://build.fubu-project.org/guestAuth/app/nuget/v1/FeedService.svc" Mode="Float" Stability="ReleasedOnly" />
    <Feed Url="http://nuget.org/api/v2" Mode="Fixed" Stability="Anything" />
    <Feed Url="http://packages.nuget.org/v1/FeedService.svc/" Mode="Fixed" Stability="ReleasedOnly" />
  </Feeds>
  <Nugets>
    <Dependency Name="Bottles" Version="2.0.0.576" Mode="Float" />
    <Dependency Name="Bottles.Docs" Version="2.0.0.576" Mode="Float" />
    <Dependency Name="Fubu.Docs" Version="0.9.9.373" Mode="Float" />
    <Dependency Name="FubuCore" Version="1.2.0.272" Mode="Float" />
    <Dependency Name="FubuCore.Docs" Version="1.2.0.272" Mode="Float" />
    <Dependency Name="FubuCsProjFile.Docs" Version="1.1.0.83" Mode="Float" />
    <Dependency Name="FubuDocs" Version="0.9.9.270" Mode="Float" />
    <Dependency Name="FubuDocs.Docs" Version="0.9.9.270" Mode="Float" />
    <Dependency Name="FubuJson.Docs" Version="0.2.0.337" Mode="Float" />
    <Dependency Name="FubuLocalization" Version="1.0.0.174" Mode="Float" />
    <Dependency Name="FubuLocalization.Docs" Version="1.0.0.174" Mode="Float" />
    <Dependency Name="FubuMVC.Ajax.Docs" Version="0.1.0.468" Mode="Float" />
    <Dependency Name="FubuMVC.AntiForgery.Docs" Version="0.9.0.262" Mode="Float" />
    <Dependency Name="FubuMVC.AssetTransforms.Docs" Version="0.0.1.1027" Mode="Float" />
    <Dependency Name="FubuMVC.Authentication.Docs" Version="0.1.0.382" Mode="Float" />
    <Dependency Name="FubuMVC.AutoComplete.Docs" Version="0.9.0.167" Mode="Float" />
    <Dependency Name="FubuMVC.CodeSnippets" Version="1.0.0.390" Mode="Float" />
    <Dependency Name="FubuMVC.CodeSnippets.Docs" Version="1.0.0.390" Mode="Float" />
    <Dependency Name="FubuMVC.ContentExtensions.Docs" Version="0.1.0.277" Mode="Float" />
    <Dependency Name="FubuMVC.Core" Version="1.2.0.1678" Mode="Float" />
    <Dependency Name="FubuMVC.Core.Assets" Version="0.9.9.562" Mode="Float" />
    <Dependency Name="FubuMVC.Core.Assets.Docs" Version="0.9.9.562" Mode="Float" />
    <Dependency Name="FubuMVC.Core.UI" Version="1.0.1.612" Mode="Float" />
    <Dependency Name="FubuMVC.Core.UI.Docs" Version="1.0.1.612" Mode="Float" />
    <Dependency Name="FubuMVC.Core.View" Version="1.1.0.581" Mode="Float" />
    <Dependency Name="FubuMVC.Dates.Docs" Version="0.0.0.603" Mode="Float" />
    <Dependency Name="FubuMVC.Diagnostics" Version="0.9.8.358" Mode="Float" />
    <Dependency Name="FubuMVC.Diagnostics.Docs" Version="0.9.8.358" Mode="Float" />
    <Dependency Name="FubuMVC.Docs" Version="1.2.0.1683" Mode="Float" />
    <Dependency Name="FubuMVC.JQueryUI" Version="0.5.0.342" Mode="Float" />
    <Dependency Name="FubuMVC.Json.Docs" Version="0.1.0.380" Mode="Float" />
    <Dependency Name="FubuMVC.Localization.Docs" Version="0.1.0.270" Mode="Float" />
    <Dependency Name="FubuMVC.Media" Version="0.9.5.433" Mode="Float" />
    <Dependency Name="FubuMVC.Media.Docs" Version="0.9.5.433" Mode="Float" />
    <Dependency Name="FubuMVC.Navigation" Version="0.9.1.208" Mode="Float" />
    <Dependency Name="FubuMVC.SlickGrid" Version="0.5.0.649" Mode="Float" />
    <Dependency Name="FubuMVC.Spark" Version="1.1.0.581" Mode="Float" />
    <Dependency Name="FubuMVC.StructureMap" Version="1.2.0.1678" Mode="Float" />
    <Dependency Name="FubuMVC.TwitterBootstrap" Version="0.0.0.644" Mode="Float" />
    <Dependency Name="FubuMVC.Validation.Docs" Version="0.9.12.873" Mode="Float" />
    <Dependency Name="FubuMVC.ViewEngines.Docs" Version="1.1.0.581" Mode="Float" />
    <Dependency Name="FubuObjectBlocks.Docs" Version="0.1.0.8" Mode="Float" />
    <Dependency Name="FubuPersistence.Docs" Version="0.9.5.98" Mode="Float" />
    <Dependency Name="FubuRake.Docs" Version="1.0.1.39" Mode="Float" />
    <Dependency Name="FubuTestingSupport" Version="1.2.0.272" Mode="Float" />
    <Dependency Name="FubuTransportation.Docs" Version="0.5.0.157" Mode="Float" />
    <Dependency Name="FubuValidation.Docs" Version="0.9.12.873" Mode="Float" />
    <Dependency Name="HtmlTags" Version="2.0.0.181" Mode="Float" />
    <Dependency Name="HtmlTags.Docs" Version="2.0.0.181" Mode="Float" />
    <Dependency Name="Microsoft.Bcl" Version="1.1.3.0" Mode="Fixed" />
    <Dependency Name="Microsoft.Bcl.Build" Version="1.0.10" Mode="Fixed" />
    <Dependency Name="Microsoft.Net.Http" Version="2.0.20710.0" Mode="Fixed" />
    <Dependency Name="Microsoft.Owin" Version="2.0.0" Mode="Fixed" />
    <Dependency Name="Microsoft.Owin.Host.HttpListener" Version="0.18-alpha" Mode="Fixed" />
    <Dependency Name="Microsoft.Owin.Hosting" Version="0.18-alpha" Mode="Fixed" />
    <Dependency Name="NUnit" Version="2.5.10.11092" Mode="Fixed" />
    <Dependency Name="Owin" Version="1.0" Mode="Fixed" />
    <Dependency Name="Owin.Extensions" Version="0.6.4" Mode="Fixed" />
    <Dependency Name="Owin.Types" Version="0.8.5.0" Mode="Fixed" />
    <Dependency Name="RhinoMocks" Version="3.6.1" Mode="Fixed" />
    <Dependency Name="Ripple.Docs" Version="2.4.0.155" Mode="Float" />
    <Dependency Name="Selenium.WebDriver" Version="2.32.0" Mode="Fixed" />
    <Dependency Name="Serenity.Docs" Version="0.9.9.220" Mode="Float" />
    <Dependency Name="Spark" Version="1.7.5.0" Mode="Fixed" />
    <Dependency Name="Storyteller.Docs" Version="2.0.0.48" Mode="Float" />
    <Dependency Name="structuremap" Version="2.6.3" Mode="Fixed" />
    <Dependency Name="structuremap.automocking" Version="2.6.3" Mode="Fixed" />
    <Dependency Name="StructureMap.Docs" Version="2.6.4.79" Mode="Float" />
  </Nugets>
  <Groups />
  <References>
    <IgnoreAssemblies />
  </References>
  <Nuspecs />
</ripple>