Bottles
FubuCore
FubuLocalization
FubuMVC.CodeSnippets
FubuMVC.Core
FubuMVC.Core.Assets
FubuMVC.Core.UI
FubuMVC.Core.View
FubuMVC.JQueryUI
FubuMVC.SelfHost
FubuMVC.Spark
FubuMVC.StructureMap
HtmlTags
Microsoft.AspNet.WebApi.Client
Microsoft.AspNet.WebApi.Core
Microsoft.AspNet.WebApi.SelfHost
Microsoft.Net.Http
Newtonsoft.Json
Spark
structuremap
